input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	border: 1px solid #999999;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	border: 1px solid #999999;
}
.noline {
	text-decoration: none;
	color: #000000;

}
a:hover {
	text-decoration: underline;
}
