<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>textBookServelet</servlet-name>
		<servlet-class>textBook.textBookServelet</servlet-class>
		<init-param>
			<param-name>fileSizeLimit</param-name>
			<param-value>5000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>textBookServelet</servlet-name>
		<url-pattern>/textBookServelet</url-pattern>
	</servlet-mapping>
	<servlet>
    	<servlet-name>DeleteFileServlet</servlet-name>
    	<servlet-class>textBook.DeleteFileServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>DeleteFileServlet</servlet-name>
    	<url-pattern>/DeleteFileServlet</url-pattern>
 	</servlet-mapping>


	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>net.lrc.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>net.lrc.servlet.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>net.lrc.servlet.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>corpusServlet</servlet-name>
		<servlet-class>corpus.CorpusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userUpload</servlet-name>
		<servlet-class>corpus.UserUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DepartmentServlet</servlet-name>
		<servlet-class>net.lrc.servlet.DepartmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContentServlet</servlet-name>
		<servlet-class>net.lrc.servlet.ContentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommonServlet</servlet-name>
		<servlet-class>net.lrc.servlet.CommonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SitePartServlet</servlet-name>
		<servlet-class>net.lrc.servlet.SitePartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginAuthCodeServlet</servlet-name>
		<servlet-class>net.jtaq.servlets.LoginAuthCodeServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UserPowerServlet</servlet-name>
		<servlet-class>net.jtaq.servlets.action/*</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UploadFiles</servlet-name>
		<servlet-class>corpus.UploadFiles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFiles</servlet-name>
		<url-pattern>/SecondUploadCorpusFloder.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadFiles2</servlet-name>
		<servlet-class>corpus.UploadFiles2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFiles2</servlet-name>
		<url-pattern>/SecondUploadCorpusFloder2.do</url-pattern>
	</servlet-mapping>


	<!--配置ActionServlet-->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<!-- 配置监听器 -->
	<listener>
		<listener-class>net.jtaq.utils.SessionCounter</listener-class>
	</listener>
	<!-- 配置过滤器 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>net.jtaq.servlets.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>authfilter</filter-name>
		<filter-class>net.jtaq.servlets.filter.UserAuthFilter</filter-class>
		<init-param>
			<param-name>protectedurls</param-name>
			<param-value>/protectedurls.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>authfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/admin/corpus/UploadCorpusAll/*</url-pattern>
	</filter-mapping>



	<servlet-mapping>
		<servlet-name>LoginAuthCodeServlet</servlet-name>
		<url-pattern>/admin/AuthCode.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/users/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/Tibet/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/admin/users/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/admin/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/news/news.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/admin/news.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/minzu/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/public/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/research/user.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/admin/upload/resource.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/admin/Tibet/upload/resource.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/download/resource.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/Tibet/download/resource.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/admin/resource.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>corpusServlet</servlet-name>
		<url-pattern>/admin/corpus/corpusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>corpusServlet</servlet-name>
		<url-pattern>/corpus/corpusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userUpload</servlet-name>
		<url-pattern>/corpus/UserUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/admin/news/news.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/admin/Tibet/news/news.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/public/CommonServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/Tibet/public/CommonServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/minzu/CommonServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/Tibet/minzu/CommonServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/research/CommonServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonServlet</servlet-name>
		<url-pattern>/Tibet/research/CommonServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepartmentServlet</servlet-name>
		<url-pattern>/admin/department/departmentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepartmentServlet</servlet-name>
		<url-pattern>/admin/departmentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepartmentServlet</servlet-name>
		<url-pattern>/admin/Tibet/department/departmentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepartmentServlet</servlet-name>
		<url-pattern>/admin/Tibet/departmentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/admin/contents/contentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/admin/contentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/admin/Tibet/contents/contentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/admin/Tibet/contentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitePartServlet</servlet-name>
		<url-pattern>/admin/parts/sitePartServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitePartServlet</servlet-name>
		<url-pattern>/admin/sitePartServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitePartServlet</servlet-name>
		<url-pattern>/admin/Tibet/parts/sitePartServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitePartServlet</servlet-name>
		<url-pattern>/admin/Tibet/sitePartServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TibetanModuleServlet</servlet-name>
		<servlet-class>cn.edu.cun.cmli.lrc.servlet.TibetanModuleServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>qqqqqqqqqq</servlet-name>
    <servlet-class>corpus.qqqqqqqqqq</servlet-class>
  </servlet>




	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>
			/fckeditor/editor/filemanager/connectors/*
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TibetanModuleServlet</servlet-name>
		<url-pattern>/admin/TibetanVersion/Module/TibetanModuleServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>qqqqqqqqqq</servlet-name>
    <url-pattern>/servlet/qqqqqqqqqq</url-pattern>
  </servlet-mapping>

</web-app>

